/* In CSS there are 4 basic types of selectors */
/* 1. Universal Selectors(*) */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; 
    padding: 0;
}

/* 2. Element Selectors */
/* h1 {
    font-size: 32px; 
    color: magenta; 
}
    or 
 */
h1, p {
    font-size: 32px;
    color: magenta; 
}

/* 3. Class Selectors */
.container-form {
    display: flex;
    align-items: center;
}

/* 4. Id Selectors */ 
#Custom-button {
    font-size: 22px; 
    padding: 10px; 
    background-color: #1a1a1a;
    color: #c6c4c4;
    border-radius: 5px;
}
